.grid-item {
	background: #fff;
	box-sizing: border-box;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	height: auto;
	align-self: start;
	padding: 0.5rem;
}

.grid-item {
	width: calc(100% - 20px);
	margin: 10px;
}

@media (min-width: 720px) {
	.grid-item {
		width: calc(50% - 20px);
	}
}

@media (min-width: 1080px) {
	.grid-item {
		width: calc(33.333333% - 20px);
	}
}

@media (min-width: 1440px) {
	.grid-item {
		width: calc(25% - 20px);
	}
}


.grid-item:hover {
	transform: translateY(-4px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.grid-item-link {
	display: block;
	text-decoration: none;
	color: inherit;
}

.grid-item-image {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.grid-item-body {
	padding: 16px;
}

.grid-item-title {
	margin: 0 0 8px;
	font-size: 1.25rem;
	font-weight: 600;
}

.grid-item-desc {
	margin: 0 0 8px;
	color: #666;
	font-size: 0.875rem;
}

.grid-item-desc2 {
	margin: 0 0 8px;
	color: #aaa;
	font-size: 0.875rem;
}

.grid-container {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 10px;
	padding: 0px;
	align-items: start;
	grid-auto-rows: min-content;
}

.post-grids {
	flex: 1;
	min-width: 0;
}

.post-grids-term {
	max-width: 1080px;
}

@media (max-width: 768px) {
	.grid-container {
		grid-template-columns: 1fr;
		column-count: 1;
	}
}